<div uk-grid>

  <div id="content_logo_inicio" class="uk-width-1-1  uk-text-center " >
    <img  style="max-width: 350px;"  uk-img src="../assets/src/10732.png">
  </div>
  
  <div id="content_tab_inicio" class="uk-background-muted uk-margin-remove uk-width-1-1">
    <ul style="width: 100%;" class="uk-flex-center" uk-tab>
        <li (click)="islocal = true" class="uk-active"><a href="#">COPA MX</a></li>
        <li (click)="islocal = false"><a href="#">ASCENSO MX</a></li>
    </ul>
  </div>
</div>

<div id="content_content_inicio">
<div class="uk-text-center uk-grid-collapse bg-section text-white" uk-grid *ngFor="let month of data; let i = index">

  <p style="background-color: #ABB2B9;" class="uk-text-left uk-margin-small-bottom uk-padding-small uk-width-1-1@s">{{month.name}}</p>

  <div [hidden]="item.local !== islocal" uk-grid class="uk-width-1-1 uk-grid-collapse" uk-height-match="target: > div ; row: false" *ngFor="let item of month.items">
  <div class="uk-width-1-4@s" >
    <span uk-icon="icon: calendar; ratio: 3"></span>
    <p class="uk-text-center uk-text-large" >  {{ getDay(item.datetime) }} <br> {{ getNameDaySpanish(item.datetime) }} </p>
  </div>

  <div  class="uk-width-3-4@s">
    
      <table class="uk-table">
        <tbody>
          <tr>
            <td width="40%">
                <img uk-img style="width: 90px;" src="../assets/src/10732.png">
                <p>Venados F.C</p>
            </td>
            <td>
                <p  style="font-size: 2rem;">{{item.home_score}} - {{item.away_score}}</p>
            </td>
            <td width="40%">
                <img uk-img style="width: 90px;" [src]="item.opponent_image">
                <p>{{item.opponent}}</p>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  </div>



</div>
</div>