
<a href="#offcanvas-slide" class="uk-button uk-button-default uk-position-top-left uk-position-fixed uk-background-muted uk-position-small uk-position-z-index" uk-toggle><span uk-icon="menu"></span></a>

<div id="offcanvas-slide"  uk-offcanvas>
    <div class="uk-offcanvas-bar uk-background-muted uk-padding-remove">

      <div uk-grid class="bg-menu uk-padding-small">
        <img  class="uk-margin-top" uk-img style="max-width: 120px;" src="../assets/src/10732.png">
        <div>
          <p>Jonathan Lee <br> heyfromjonathanlee@gmail.com</p>
        </div>

    </div>

        <ul  class="uk-nav-parent-icon" uk-nav>
            <li  class="uk-parent uk-open">
                <a style=" color: #000 !important; margin-top: -45px; float: right;" href="#"></a>
                <ul  class="uk-nav-sub uk-padding-remove">

                    <li  >
                        <a class="item-nav" [routerLink]="['']"> <span>&nbsp;</span> Home</a></li>
                    <li >
                      <a  class="item-nav" [routerLink]="['statistics']"> <span>&nbsp;</span> Estadísticas</a>
                    </li>
                    <li >
                        <a class="item-nav " [routerLink]="['players']"> <span>&nbsp;</span> Jugadores</a>
                    </li>
                    
                </ul>
            </li>
            
        </ul>

    </div>
</div>




<div class="uk-container uk-padding-remove-horizontal uk-margin-large-top">


    <router-outlet></router-outlet>


</div>

