
<div uk-grid>
  <div class="uk-width-1-1">
    <h1 class="uk-padding uk-padding-remove-bottom">
    Estadísticas
    </h1>
  </div>
  <div class="uk-width-1-1">
  <table class="uk-table bg-section uk-table-divider text-white">
    <thead style="background-color: #ABB2B9;">
            <th class="text-white" colspan="2">Tabla General</th>
            <th class="text-white">JJ</th>
            <th class="text-white">DG</th>
            <th class="text-white">PTS</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td class="uk-text-center uk-text-large">{{item.position}}</td>
            <td>
                <img uk-img style="max-width: 50px;" [src]="item.image">
                {{item.team}}
            </td>
            <td>
                {{item.games}}
            </td>
            <td>
                {{ item.f_goals - item.a_goals }}
            </td>
            <td>
              {{item.points}}
            </td>
        </tr>
        
    </tbody>
  </table>
  </div>
</div>