/* You can add global styles to this file, and also import other style files */
.item-nav {
    color: #000 !important;
    width: 100%;
    padding: 15px 0 15px 0 !important;

}

.item-nav span {
    padding: 4px 10px 4px 10px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 10px;
    margin-left: 10px;;
}

.item-nav:hover {
    background-color: #eee;
    color: #3498DB !important;
}

.item-nav:hover span {
    background-color: #3498DB;
}

.bg-section{
	background: -webkit-radial-gradient( left bottom, circle farthest-corner, green, #000 );
	background: radial-gradient( farthest-corner circle at left bottom,  green, #000 );
}

.bg-menu {    
    background-image: -webkit-linear-gradient(45deg, #F1C40F 25%, transparent 26%, transparent 75%, #F1C40F 75%),
    -webkit-linear-gradient(135deg, #F1C40F 25%, #000 26%, #145A32 75%, #F1C40F 75%);
    background-image: linear-gradient(45deg, #F1C40F 25%, transparent 26%, transparent 75%, #F1C40F 75%),
    linear-gradient(135deg, #F1C40F 25%, #145A32 26%, #145A32 75%, #F1C40F 75%);
}

.text-white {
    color: #fff !important;
}

.uk-button-default:hover {
    background-color: #fff !important;
}

#content_tab_inicio {
    background-color: #fff;
    padding-top: 50px;
}