<div uk-grid>

  <div class="uk-width-1-1">
    <h1 class="uk-padding uk-padding-remove-bottom">
      Jugadores
    </h1>
  </div>

  <div *ngFor="let item of data" class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s  uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: a; delay: 200; repeat: false" >
      <a (click)="setPlayer(item)" style="text-decoration: none;" href="#modal-example" uk-toggle>  <img class="uk-border-circle" uk-img style="max-width: 100px;" [src]="item.image">
      <p >   {{item.position}} <br> {{item.name + ' ' + item.firstSurname}} </p></a>
  </div>

</div>



<!-- This is the modal -->
<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-padding-remove">

    <div class="uk-grid-collapse" uk-grid>
      <div style="color: #fff" class="bg-section uk-text-center uk-width-1-1 uk-padding">
         
        <h2 style="color: #fff" class="uk-modal-title">FICHA TÉCNICA</h2>
        <img *ngIf="player.image !== undefined" class="uk-border-circle" uk-img style="max-width: 100px;" [src]="player.image">
        <p class="uk-margin-remove-bottom"> {{player.fullName }}<br>{{player.position}}</p>

      </div>

      <div class="uk-width-1-1 uk-text-center uk-padding">
        <p class="uk-margin-remove-bottom">
          FECHA DE NACIMIENTO<br><small>{{ formatBirthday(player.birthday) }}</small>
        </p>
        <p class="uk-margin-remove-bottom">LUGAR DE NACIMIENTO<br><small> {{player.birthPlace}}</small></p>
        <p class="uk-margin-remove-bottom">PESO<br><small>{{player.weight}} KG</small></p>
        <p class="uk-margin-remove-bottom">ALTURA<br><small>{{player.height}} M</small></p>
        <p class="uk-margin-remove-bottom">EQUIPO ANTERIOR<br><small>{{player.lastTeam}}</small></p>
      </div>
    </div>

      <p class="uk-text-right uk-padding-small">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cerrar</button>
      </p>
  </div>
</div>
